[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
dformat = "*"
kaggle = "*"
bayesian-optimization = "*"
ipython = "*"
pytest = "*"
build = "*"
twine = "*"
matplotlib = "*"
pyyaml = "*"
pandas = "*"
black = "*"
pytest-timeout = "*"
isort = "*"

[requires]
python_version = "3.7"
