[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dformat = "*"

[dev-packages]
kaggle = "*"
bayesian-optimization = "*"
ipython = "*"
pytest = "*"
build = "*"
twine = "*"
matplotlib = "*"
pyyaml = "*"
pandas = "*"

[requires]
python_version = "3.7"
